In [36]:
import pandas as pd

dic = {
    "name" : ["jane", "khem", "pukker", "oum"],
    "gender" : ["male", "male", "male", "female"],
    "age" : [15,18,24,25]
}

df = pd.DataFrame(dic)
df

     name  gender  age
0    jane    male   15
1    khem    male   18
2  pukker    male   24
3     oum  female   25

In [37]:
print(len(dic))

3

In [38]:
df.loc[0]

name      jane
gender    male
age         15
Name: 0, dtype: object

In [39]:
df.loc[0]["age"]

15

In [40]:
for i in range(len(dic)):
    if df.loc[i]["age"] < 20:
        print(df.loc[i])

name      jane
gender    male
age         15
Name: 0, dtype: object
name      khem
gender    male
age         18
Name: 1, dtype: object

In [41]:
print(i)

2

In [42]:
for j in range(len(dic)):
    if df.loc[j]["age"] > 19:
        print(df.loc[j])

name      pukker
gender      male
age           24
Name: 2, dtype: object